/* 
menu.css - Regarding main menu / title screens
*/

content:not(.previouslyActive,.active) {
	display: none;
}

#modalHolder {
	z-index: 2;
	display: none;
}

content.active {
	z-index: 1;
	display: block;
	animation: contentActive 1.2s ease-out forwards;
}

content.previouslyActive {
	z-index: 1;
	display: block;
	animation: contentActive2 .7s ease-out forwards;
}
@keyframes contentActive2 {
	from {
		scale: 1;
		opacity: 1;
	}
	to {
		scale: 1.05;
		opacity: 0;
	}
}

@keyframes contentActive {
	from {
		scale: 1.05;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

content#gameMenu {
	background-image: url("../img/SDGTitleBG.jpg");
	background-size: cover;
}

div#titleContentHolder {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 2rem;
	height:100%;
	width:  max-content;
	max-width: min-content;
	background-color: rgba(255,255,255,.8);
	position: fixed;
	left: 5rem;
	animation: flowIn 1s ease-out forwards;
	overflow: hidden;
}

@keyframes flowIn {
	from {
		height: 0;
	}

	to {
		height: 100%;
	}
}

content#gameMenu.active > div#titleContentHolder,
content#gameMenu.previouslyActive div#titleContentHolder {
	display: flex !important;
}

div#backgroundImageHolder {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-image: url("../img/BGEffect.png");
	opacity: .15;
	background-size: cover;
	background-position: center;
	animation: imageLoop 2s ease-in-out infinite;
}

@keyframes imageLoop {
	50% {scale: 1.02}
}

#logo {
	height: 200px;
}

#disclaimer {
	text-align: center;
	font-size: 12px;
	width: 325px;
}

#logoHolder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: max-content;
	position: relative;
	animation: floatIn 1s ease-out forwards;
}

@keyframes floatIn {
	from {
		top: 2rem;
		opacity: 0;
		scale: 1.5;
	}

	to {
		top: 0rem;
		opacity: 1;
		scale: 1;
	}
}

#logoHolder > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: .75rem;
	margin-top: -.75rem;
}
#logoHolder > div > div.logoBar {
	height: 3px;
	width: 75px;
	background-color: rgb(0 157 218);
	animation: sizeIn 2s ease-in-out forwards;
}


@keyframes sizeIn {
	0% {
		width: 0;
	}

	30% {
		width: 125px;
	}

	100% {
		width: 75px;
	}
}


#logoHolder > div > div:not(.logoBar) {
	color: rgb(0 157 218);
	font-weight: 700;
	font-family: Roboto Condensed;
	font-size: 28px;
	animation: textUp 2s ease-out forwards;
}

@keyframes textUp {
	0% {
		font-size: 0;
	}

	50% {
		font-size: 34px;
	}

	100% {
		font-size: 28px;
	}
}

#buttonList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: max-content;
	gap: 1vh;
}

#buttonList > button {
	background: var(--primary);
	color: white;
	width: 25vh;
	height: 10vh;
	aspect-ratio: initial;
	font-size: 35px;
	font-family: Roboto Condensed;
	font-weight: bold;
	position: relative;
	opacity: 0;
	animation: floatUp 1s ease-out forwards;
}

#buttonList > button:nth-child(1) {
	animation-delay: 0ms;
}

#buttonList > button:nth-child(2) {
	animation-delay: 200ms;
}

#buttonList > button:nth-child(3) {
	animation-delay: 400ms;
}

@keyframes floatUp {
	0% {
		top: 3rem;
		opacity: 0;
	}

	100% {
		top: 0rem;
		opacity: 1;
	}
}

#buttonList > button:nth-child(even) {
	background: var(--primary);
	filter: brightness(1.3);
}

#buttonList > button:hover {
	width: 35vh;
	scale: 1.05;
}


#mapVisual {
  position: fixed;
  inset: 0;
	z-index: -1;
}

#cityScale, #townScale, #villageScale {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}

#cityScale {
	background-image: url("../img/LightCity.png");
}

#townScale {
	background-image: url("../img/LightTown.png");
}

#villageScale {
	background-image: url("../img/LightVillage.png");
}

#cityScale.selected,
#townScale.selected,
#villageScale.selected {
	display: block;
}

button#returnTitle {
	font-size: 40px;
	position: fixed;
	left: 10px;
	top: 10px;
}

button#returnTitle:hover {
	scale: 1.2;
}

#mapSizeSelector {
	display: flex;
	flex-direction: row;
	gap: 4px;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

#mapSizeSelector > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	padding: 8px 32px;
	border-radius: 16px;
	border: 1px solid gray;
	background-color: var(--background);
	margin: 8px;
}

#mapSize {
	font-size: 28px;
	font-weight: bold;
}

#mapSizeHR {
	width: 166px;
	height: 2px;
	background-color: gray;
	margin: 4px 0px;
}

#demoWarning {
	background-color: rgb(255 0 0);
	border-radius: 5rem;
	padding: 3px 12px;
	color: white;
	font-weight: bold;
}

#smallSize, #largeSize {
	font-size: 36px;
	border-radius: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px solid black;
}

#smallSize:hover, #largeSize:hover {
	font-size: 48px;
}

#gameControl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 5%;
	transform: translateX(-50%);
	left: 50%;
	gap: 16px;
}

#gameControl > button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 175px;
	background-color: var(--primary);
	padding: 12px;
	gap: 6px;
	aspect-ratio: revert;
	border-radius: 12px;
}

#gameControl > button:last-child {
	background-color: var(--secondary);
}

#gameControl > button > span:not(.material-symbols-rounded) {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Roboto Condensed;
}

#gameControl > button > span.material-symbols-rounded  {
	font-size: 24px;
	color: white;
}

#gameControl > button:hover {
	margin: 0 12px;
	scale: 1.2;
}

button#funFactBtn {
	width: 48px;
	height: 48px;
	border-radius: 5rem;
	font-weight: 700;
	font-size: 32px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--accent);
}

button#funFactBtn:hover {
	scale: 1.2;
}

#preloader {
	width: 100%;
	height: 100%;
	background-color: var(--background);
	position: fixed;
	inset: 0;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	border: 10px solid var(--primary); /* Loader border color */
	border-radius: 50%; 
	width: 175px; 
    height: 175px;
	border-top: 10px solid transparent;  

	transition: scale .5s linear;
	animation: spin 2s linear infinite; 
}

#preloader.dissapear > .loader {
	scale: 0;
}
  
@keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}

#preloader.dissapear {
	animation: fadeOut .5s forwards ease-out;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		scale: 2;
	}
}

dialog {
	overflow: hidden;
	border: 4px solid #00b8ff;
	background-color: var(--background);
	position: fixed;
	padding: 24px;
	animation: flyOut .75s ease-out forwards;
}

dialog::backdrop {
	background-color: rgb(255,255,255,.25);
}

dialog[open] {
	animation: flyIn .75s ease-out forwards;
}

@keyframes flyIn {
	from {
		right: -2rem;
		opacity: 0;
	}

	to {
		right: 0rem;
		opacity: 1;
	}
}

@keyframes flyOut {
	from {
		right: 0rem;
		opacity: 1;
	}
	
	to {
		right: -2rem;
		opacity: 0;
	}
}

#gameCredits,#gameAbout {
	margin-right: 4rem;
	width: 40%;
	height: 45%;
	top: 50%;
	transform: translateY(-50%);
}

.dialogTitle {
	font-weight: bold;
	font-size: 28px;
	font-family: Roboto Condensed;
}

.dialogTextHolder {
	background-color: rgB(255,255,255);
	padding: .75rem;
	margin: .5rem 0 0 0;
	height: 87%;
	border: 1px solid gray;
	overflow: auto;
}

.gameColorsBar {
	width: 98%;
	position: absolute;
	height: 8px;
	left: 50%;
	transform: translateX(-50%);
	top: 6px;
	background: black;
	display: flex;
	flex-direction: row;
}

.colorBar {
	width: calc(100% / 7);
	height: 100%;
	background: var(--color);
}

.close {
	position: absolute;
	right: 20px;
	background: none;
	top: 24px;
	font-size: 32px;
}

.close:hover {
	scale: 1.2;
}